<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>canlı skor</title>
    <link href="../hilocssjs/css.css" rel="stylesheet">

    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="og:image" content="/android-chrome-512x512.png">
</head>

<body>
<div id="root">
    <style type="text/css">


        @media (min-width:800px) {
            div#iframemenu {
                display:none !important;
            }

        }
    </style>


    <div class="" onclick="window.location.href='../index.php'" style="position: absolute;width: 100%;    height: 1200px;" id="iframemenu"></div>
    <div class="divcontainer">
        <iframe  src="https://cdn-live.spinomenal.com/external_components/play2.html?partnerId=digitain_grandpashabet&gameToken=0ff19c3367eca1317368&gameCode=SlotMachine_GrandPashabetXtremeFruits&langCode=en_US&platform=1&HomeUrl=https%3a%2f%2fgrandpashabet1260.com&configFile=config_default.json&isReal=false&srvUrl=https%3a%2f%2frgs-ss-demo.spinomenal.com%2fapi&gameConfigPath=exclusive%2fSlotMachine_GrandPashabetXtremeFruits.json&rgsUrl=https%3a%2f%2frgs-ss-demo.spinomenal.com%2fapi%2f&inter=6&environment=europe_general" width="100%" height="100%"  title="grandbonza" >

        </iframe>


    </div>

</div>


</body>

</html>


