<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>canlı skor</title>
    <link href="../hilocssjs/css.css" rel="stylesheet">

    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="og:image" content="/android-chrome-512x512.png">
</head>

<body style="overflow: hidden !important;">
<div id="root" >
    <style type="text/css">


        @media (min-width:800px) {
            div#iframemenu {
                display:none !important;
                overflow: hidden;
            }

        }
    </style>


    <div class="" onclick="window.location.href='../index.php'" style="position: absolute;width: 100%;    height: 1200px;" id="iframemenu"></div>
    <div class="divcontainer">
        <iframe  src="https://replay.pragmaticplay.net/ioj4bNA3X8" width="100%" height="100%"  title="40super" >

        </iframe>


    </div>

</div>


</body>

</html>


